<<<<<<< HEAD

/******************************** universal ***********************************************/
body {
    /*background-color: #961526;*/
    background-color: #fcf3ea;
    

}

.margin {
    margin: 20px;
}

svg {
    margin: 10px;
    width: 20px;
    height: 20px;
}

svg:active {
    fill: #961526;
}

#topBar {
    /*background-color: #FFFFFF;*/
    background-color: white;
    padding: 20px;
    border: none;
    border-radius: 12px;
    position: fixed;
    top: 0px;
    right: 0px;
    vertical-align: middle;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    z-index: 2;
}

#verses {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;
    text-align: center;
}

#scripture {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;
    text-align: center;
}

#gem {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;
    text-align: center;
}

#faith {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;
    text-align: center;
}

#application {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;
    text-align: center;
}

#help {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;

}

#jehovah {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    text-align: center;
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;

}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    border: none;
    border-radius: 12px;
    background-color: black;
    color: black;
    font-weight: bold;
    display: "inline";
    width: 64px;
    text-align: center;
    box-shadow: inset 0 25.6px 57.6px  #ecb5bd, 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
}
button:hover {
    border: none;
    border-radius: 12px;
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: inset 0 25.6px 57.6px  #ecb5bd, 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    z-index: 2;
}

::-moz-range-progress {
    background-color: #fcf3ea;
    width: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: inset 0 25.6px 57.6px  rgba(1, 3, 3, 0.22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);

}

::-moz-range-thumb {
    background-color: #961526;
    border: none;
    box-shadow:  5px 5px 5px 5px  rgba(.22, 22, 22, .22), 10px 10px 5px 5px  rgba(.22, 22, 22, .22);
    border-radius: 20px;
}

::-moz-range-track {
    background-color: black;
    color: #fcf3ea;
    box-shadow: 5px 5px 5px 5px rgba(.22, 22, 22, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    
}

::-webkit-scrollbar {
    background-color: #fcf3ea;
    width: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: inset 0 25.6px 57.6px  rgba(1, 3, 3, 0.22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);

}

::-webkit-scrollbar-button{
    background-color: black;
    color: #fcf3ea;
    box-shadow: 5px 5px 5px 5px rgba(.22, 22, 22, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    
}

::-webkit-scrollbar-thumb {
    background-color: #961526;
    border: none;
    box-shadow:  5px 5px 5px 5px  rgba(.22, 22, 22, .22), 10px 10px 5px 5px  rgba(.22, 22, 22, .22);
    border-radius: 20px;

}
/******************************** universal ***********************************************/



/******************************** collections ***********************************************/
#backupBox {
    border: "none";
    border-radius: 12px;
    position: fixed;
    right: 42px;
    top: 100px;
    background-color: white;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    z-index: 2;
}


#backupCircle {
    background-color: white;
    border: "none";
    border-radius: 12px;
    position: fixed;
    right: 42px;
    top: 100px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    z-index: 2;
}


#search {
    border: "none";
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    background-color: white;
    border-radius: 12px;
    position: fixed;
    font-size: 16px;
    right: 75px;
    top: 150px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    z-index: 2;
}


#startSearch {
    position: fixed;
    right: 2.5px;
    top: 162.5px;
    z-index: 2;
}



#searchBox {
    background-color: white;
    margin-left: 10px;
    height: 40px;
    width: 30px;
    border: "none";
    border-radius: 12px;
    position: fixed;
    right: 5px;
    top: 162.5px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
}


.link {
    color: #FFFFFF;
    font-size: 30px;
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.link:hover {
    color: #961526;
    font-size: 30px;
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: normal;
}



.card {
    background-color: #961526;
    border: none;
    border-radius: 12px;
    margin: 20px;
    z-index: 1;
}

.verses {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*border-top: none;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-left: none;*/
    display: inline-block;
    border-radius: 12px;
    width: 256px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    background-color: white;
    vertical-align: middle;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);

}



#edit {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 13px;
    border: none;
    border-radius: 12px;
    background-color: black;
    color: black;
    font-weight: bold;
    display: "inline";
    width: 78px;
    text-align: center;
    box-shadow: inset 0 25.6px 57.6px  #ecb5bd, 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    z-index: 2;
}
#edit:hover {
    text-decoration: none;
    border: none;
    border-radius: 12px;
    background-color: white;
    color: black;
    font-weight: bold;
    z-index: 2;
}

.inside {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*border-top: none;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-left: none;*/
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    font-weight: bold;
    background-color: white;
    margin: 20px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    text-align: center;
}

.response {
    display: none
}

#study {
    color: #FFFFFF;
    background-color: black;
    border: 0px 3px 3px 0px;
    border-color: #270202;
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    margin-top: 30px
}
/******************************** collections ***********************************************/



/******************************** edit ***********************************************/
.inputbox {
    display: inline-block;
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


label {
    display: inline-block;
    background-color: #FFFFFF;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


#title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px 12px 0 0
}

.inputTitle {
    background-color: white;
    border: none;
    border-radius: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);

}












































.section{
    display: " ";
    margin: 10px;
}
.section:hover{
    background-color: #FFFFFF;
}
.section:active{
    background-color: #961526;
}

input {
    margin: 30px;
    /*border-top: none;
    border-right: solid 3px;
    border-bottom: solid 3px;
    border-left: none;*/
    border: none;
    color: black;
=======

/******************************** universal ***********************************************/
body {
    /*background-color: #961526;*/
    background-color: #fcf3ea;
    

}

.margin {
    margin: 20px;
}

svg {
    margin: 10px;
    width: 20px;
    height: 20px;
}

svg:active {
    fill: #961526;
}

#topBar {
    /*background-color: #FFFFFF;*/
    background-color: white;
    padding: 20px;
    border: none;
    border-radius: 12px;
    position: fixed;
    top: 0px;
    right: 0px;
    vertical-align: middle;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    z-index: 2;
}

#verses {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;
    text-align: center;
}

#scripture {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;
    text-align: center;
}

#gem {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;
    text-align: center;
}

#faith {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;
    text-align: center;
}

#application {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;
    text-align: center;
}

#help {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;

}

#jehovah {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    text-align: center;
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    display: inline-block;

}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    border: none;
    border-radius: 12px;
    background-color: black;
    color: black;
    font-weight: bold;
    display: "inline";
    width: 64px;
    text-align: center;
    box-shadow: inset 0 25.6px 57.6px  #ecb5bd, 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
}
button:hover {
    border: none;
    border-radius: 12px;
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: inset 0 25.6px 57.6px  #ecb5bd, 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    z-index: 2;
}

::-moz-range-progress {
    background-color: #fcf3ea;
    width: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: inset 0 25.6px 57.6px  rgba(1, 3, 3, 0.22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);

}

::-moz-range-thumb {
    background-color: #961526;
    border: none;
    box-shadow:  5px 5px 5px 5px  rgba(.22, 22, 22, .22), 10px 10px 5px 5px  rgba(.22, 22, 22, .22);
    border-radius: 20px;
}

::-moz-range-track {
    background-color: black;
    color: #fcf3ea;
    box-shadow: 5px 5px 5px 5px rgba(.22, 22, 22, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    
}

::-webkit-scrollbar {
    background-color: #fcf3ea;
    width: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: inset 0 25.6px 57.6px  rgba(1, 3, 3, 0.22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);

}

::-webkit-scrollbar-button{
    background-color: black;
    color: #fcf3ea;
    box-shadow: 5px 5px 5px 5px rgba(.22, 22, 22, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    
}

::-webkit-scrollbar-thumb {
    background-color: #961526;
    border: none;
    box-shadow:  5px 5px 5px 5px  rgba(.22, 22, 22, .22), 10px 10px 5px 5px  rgba(.22, 22, 22, .22);
    border-radius: 20px;

}
/******************************** universal ***********************************************/



/******************************** collections ***********************************************/
#backupBox {
    border: "none";
    border-radius: 12px;
    position: fixed;
    right: 42px;
    top: 100px;
    background-color: white;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    z-index: 2;
}


#backupCircle {
    background-color: white;
    border: "none";
    border-radius: 12px;
    position: fixed;
    right: 42px;
    top: 100px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    z-index: 2;
}


#search {
    border: "none";
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    background-color: white;
    border-radius: 12px;
    position: fixed;
    font-size: 16px;
    right: 75px;
    top: 150px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    z-index: 2;
}


#startSearch {
    position: fixed;
    right: 2.5px;
    top: 162.5px;
    z-index: 2;
}



#searchBox {
    background-color: white;
    margin-left: 10px;
    height: 40px;
    width: 30px;
    border: "none";
    border-radius: 12px;
    position: fixed;
    right: 5px;
    top: 162.5px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
}


.link {
    color: #FFFFFF;
    font-size: 30px;
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.link:hover {
    color: #961526;
    font-size: 30px;
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: normal;
}



.card {
    background-color: #961526;
    border: none;
    border-radius: 12px;
    margin: 20px;
    z-index: 1;
}

.verses {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*border-top: none;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-left: none;*/
    display: inline-block;
    border-radius: 12px;
    width: 256px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    background-color: white;
    vertical-align: middle;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);

}



#edit {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 13px;
    border: none;
    border-radius: 12px;
    background-color: black;
    color: black;
    font-weight: bold;
    display: "inline";
    width: 78px;
    text-align: center;
    box-shadow: inset 0 25.6px 57.6px  #ecb5bd, 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    z-index: 2;
}
#edit:hover {
    text-decoration: none;
    border: none;
    border-radius: 12px;
    background-color: white;
    color: black;
    font-weight: bold;
    z-index: 2;
}

.inside {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*border-top: none;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-left: none;*/
    border-radius: 12px;
    padding: 16px;
    width: 256px;
    font-weight: bold;
    background-color: white;
    margin: 20px;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
    text-align: center;
}

.response {
    display: none
}

#study {
    color: #FFFFFF;
    background-color: black;
    border: 0px 3px 3px 0px;
    border-color: #270202;
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    margin-top: 30px
}
/******************************** collections ***********************************************/



/******************************** edit ***********************************************/
.inputbox {
    display: inline-block;
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px 12px 0 0
}

.inputTitle {
    background-color: white;
    border: none;
    border-radius: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: inset 0 25.6px 57.6px  rgba(.22, 22, 22, .22), 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18);

}












































.section{
    display: " ";
    margin: 10px;
}
.section:hover{
    background-color: #FFFFFF;
}
.section:active{
    background-color: #961526;
}

input {
    margin: 30px;
    /*border-top: none;
    border-right: solid 3px;
    border-bottom: solid 3px;
    border-left: none;*/
    border: none;
    color: black;
>>>>>>> 228517d6616031cacc9f0c345768b060a06dbf5a
}